<!DOCTYPE html>
<html>
  <head>
    <title>RPS Challenge</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Muli&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="main-container">
      <h1> Infinity Paper Scissors </h1>
      <p> An infinitely customisable version of Rock, Paper, Scissors </p>
      <p> Coded by Zi and run on Sinatra (Ruby) </p>
    </div>
    <div class="main-container">
      <%=yield%>
    </div>
  </body>

</html>
